/*GENERAL*/

button {
    background: #212121;
    color: #FFF;
}

button:hover {
    background: #FF24BD;
    color: #FFF;
}

.ps-room.ps-room-light {
    color: #FF24BD;
    background: url("http://i.imgur.com/138IlUi.jpg?1");
    font-size: 9pt;
}

.ps-popup {
    position: absolute;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    text-align: left;
    background: url("http://i.imgur.com/138IlUi.jpg?1");
    color: #FFF;
    border: 1px solid #999;
    padding: 2px 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 0px #FFF inset, -1px -1px 0px #DDD inset, 2px 2px 3px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

a.ilink {
    text-decoration: none;
    color: #FF25D4;
}

.chat-log .notice {
    padding: 4px 0px 2px;
    font-size: 9pt;
}

.header {
    position: relative;
    height: 50px;
    background: url("http://www.pictures88.com/p/stars/stars_004.gif");
}

.maintabbarbottom {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -6px;
    height: 6px;
    background: none repeat scroll 0% 0% #FF24BD;
    border-width: 1px 1px 1px 0px;
    border-style: solid solid solid none;
    border-color: #AAA #AAA #AAA -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    margin: -1px 0px 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.tabbar a.button.cur, .tabbar a.button.cur:hover {
    background-color: #FF24BD;
    color: #00B7FF;
    text-shadow: 0px 0px 7px blue;
    box-shadow: none;
    border-color: #AAA #AAA -moz-use-text-color;
    border-bottom: 0px none;
    cursor: default;
    padding-top: 3px;
    padding-bottom: 5px;
    top: 0px;
}

.tabbar a.button {
    background: #704BCC;
    color: #FF8CDD;
}

.chat.highlighted {
    background: #FF24BD;
    color: #00B7FF;
    font-style: italic;
}

.message-announce {
    background: #FF24BD;
    color: #FFF;
    font-style: italic;
}

/*CHANGE ROOM*/

.roomlist a.ilink {
    display: block;
    margin: 2px 7px 4px;
    padding: 1px 4px 2px;
    border: 1px solid #96E7FF;
    background-color: rgba(255, 44, 178, 0.6);
    border-radius: 8px;
    text-decoration: none;
    color: #FFF;
    text-shadow: 0px -1px 0px #FF8CDD;
    box-shadow: 1px 1px 1px #00B7FF;
    cursor: pointer;
    font-size: 10pt;
    overflow: hidden;
    white-space: nowrap;
}

.roomlist a.ilink:hover {
    display: block;
    margin: 2px 7px 4px;
    padding: 1px 4px 2px;
    border: 1px solid #1200B0;
    background: none repeat scroll 0% 0% #8F00A8;
    border-radius: 7px;
    text-decoration: none;
    color: #003BA8;
    text-shadow: 0px -1px 0px #FF0090;
    box-shadow: 1px 1px 1px #FF0090;
    cursor: pointer;
    font-size: 10pt;
    overflow: hidden;
    white-space: nowrap;
}

.roomlist a.ilink small {
    font-size: 10pt;
    color: #F0F0F0;
}

.roomlist {
    text-align: center;
    background: url("");
}

/*INTERFACE*/

.popupmenu button {
    display: block;
    cursor: pointer;
    font-size: 8pt;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    margin: 0px 0px 0px 6px;
    padding: 0px 4px;
    border: 0px none;
    border-radius: 2px;
    background: none repeat scroll 0% 0% transparent;
    color: #FF24BD;
    width: 204px;
    height: 19px;
    text-align: left;
}

.popupmenu button:hover {
    display: block;
    cursor: pointer;
    font-size: 8pt;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    margin: 0px 0px 0px 6px;
    padding: 0px 4px;
    border: 0px none;
    border-radius: 2px;
    background: #DEA8FF;
    color: #0078F0;
    width: 204px;
    height: 22px;
    text-align: left;
    box-sizing: border-box;
}

.popupmenu h3 {
    margin: 5px 0px 0px -2px;
    padding: 1px 0px;
    font-size: 9pt;
    color: #FF24BD;
}

.formatselect {
    color: #FF24BD;
    font-size: 13pt;
    border-radius: 20px;
    text-align: center;
    background: #854BBF;
}

.formatselect:hover {
    color: #FFF;
    border-radius: 20px;
    background: #FF24BD;
}

.select.teamselect {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    width: 240px;
    padding: 1px 20px;
    text-align: center;
    color: #FF24BD;
}

.select.teamselect:hover {
    background-color: rgba(199, 0, 165, 0.5);
    border-radius: 30px;
    width: 240px;
    padding: 1px 20px;
    text-align: center;
    color: #FFF;
}

.menugroup button.big {
    color: #FF24BD;
    font-size: 12pt;
    border-radius: 20px;
    text-align: center;
    background: #854BBF;
    width: 230px;
}

.menugroup .button {
    color: #FF24BD;
    font-size: 10pt;
    text-align: center;
    background: #854BBF;
    width: 200px;
    height: 30px;
    text-shadow: 0px -1px 1px #0F1923;
    border-radius: 20px;
    border: 1px solid #00C8FF;
    background-color: #854BBF;
}

.menugroup button.big:hover {
    width: 230px;
    color: #FFF;
    border-radius: 20px;
    background: #FF24BD;
}

.menugroup .button:hover {
    color: #FFF;
    border-radius: 20px;
    background: #FF24BD;
}

.menugroup {
    display: block;
    padding: 10px 0px;
    margin: 0px 27px 30px;
    max-width: 400px;
    border-radius: 20px;
    background-color: rgba(141, 44, 255, 0.3);
    color: #FF24BD;
    text-shadow: 0px 1px 0px #000;
}

.userlist {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 145px;
    border-right: 1px solid #FF24BD;
    background: url("http://i.imgur.com/138IlUi.jpg?1");
    overflow: auto;
}

.userlist li em.group {
    color: #FF25D4;
}

.userlist li {
    border-bottom: 1px solid #854BBF;
}

.userlist li button:hover {
    background: #854BBF;
}

.chat-log {
    font-size: 10pt;
    color: #FFF;
    word-wrap: break-word;
    background: #000;
}

.chat-log-add {
    background: #FF24BD;
}

body {
    background: url("http://i.imgur.com/XgEBot1.jpg") no-repeat;
    background-color: #000;
}

.mainmenufooter a {
    color: #FF25D4;
}

.mainmenufooter a:hover {
    color: #FF49DB;
}
.pm-window h3 {
    background-color: #FF9EFD;
    color: #FF45C4;
    margin: 0px;
    padding: 2px 5px;
    font-size: 11pt;
    border: 1px solid #FF45C4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.pm-window h3:hover {
    background: #FF45C4;
    color: #C90080;
    margin: 0px;
    padding: 2px 5px;
    font-size: 11pt;
    border: 1px solid #C90080;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.pm-window h3:focus {
    background: #C90080;
    color: #FF25D4;
    margin: 0px;
    padding: 2px 5px;
    font-size: 11pt;
    border: 1px solid #AAA;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.pm-log-add {
    border: 1px solid #AAA;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: none repeat scroll 0% 0% rgba(43, 43, 43, 0.85);
}

.pm-log-add:hover {
    border: 1px solid #C90080;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FF45C4;
}

.pm-window h3 small {
    color: #FF25D4;
    font-weight: normal;
    vertical-align: 1px;
}

.pm-log {
    min-height: 100px;
    max-height: 300px;
    background: none repeat scroll 0% 0% rgba(242, 247, 250, 0.925);
    color: #000;
    word-wrap: break-word;
    border-right: 1px solid #AAA;
    border-left: 1px solid #AAA;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 0px 1px;
    border-style: italic;
    border-color: -moz-use-text-color #AAA;
    overflow: auto;
}

.message-pm {
    color: #FF97EB;
    font-style: italic;
}

/*LADDER*/

.ladder th, .ladder th:hover {
    text-align: left;
    font-size: 9pt;
    background: #2B2B2B;
    color: #FF25D4;
}

/*TEAMBUILDER*/

.teamchart li.format-select select, .teamchart li.format-select option {
    font: 12pt Verdana,sans-serif;
    background: #DEDEDE;
}

.utilichart .pokemonnamecol {
    padding-top: 5px;
    height: 23px;
    width: 127px;
    color: #FFF;
    font-size: 10pt;
}

.utilichart .abilitycol {
    padding-top: 7px;
    height: 21px;
    font-size: 8pt;
    width: 90px;
    color: #FFF;
}

.utilichart .twoabilitycol {
    padding-top: 0px;
    height: 28px;
    font-size: 7pt;
    width: 90px;
}

.utilichart .col {
    float: left;
    padding-top: 6px;
    height: 22px;
    font-size: 9pt;
    color: #FFF;
}

.utilichart, .utilichart li {
    list-style-type: none;
    word-wrap: normal;
}

.setchart {
    border: 1px solid #999;
    background: -moz-linear-gradient(center top , #5B5B5B 10%, #212121 55%) repeat scroll 0% 0% #212121;
    border-radius: 5px;
    padding: 2px 0px 0px 3px;
    height: 127px;
    width: 626px;
    margin-top: 8px;
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6) inset;
    color: #000;
}

.teambar button:disabled, .teambar button:disabled:active {
    color: #FFF;
    background: none repeat scroll 0% 0% #212121;
    border-color: #AAA;
    opacity: 0.8;
    cursor: default;
}

.teambar button:disabled:hover {
    color: #FFF;
    background: #212121;
    border-color: #AAA;
    opacity: 1;
}

.teambuilder-results .result a {
    cursor: pointer;
}

.setchart label, .setchart-nickname label {
    display: block;
    font-size: 8pt;
    font-weight: bold;
    color: #000;
    padding-left: 2px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
}

.teambuilder-results h3, .teambuilder-results .utilichart h3 {
    background: none repeat scroll 0% 0% #212121;
    margin: 6px 0px;
    padding: 2px 5px;
    font-family: Verdana,sans-serif;
    font-size: 9pt;
    text-align: left;
    border-width: 1px 0px;
    border-style: solid none;
    border-color: #AAA -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6) inset, 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.teambuilder-results:hover .result a {
    border-style: #A8A8A8;
    cursor: pointer;
    background: #000;
}

.utilichart .movedesccol {
    width: 284px;
    font-size: 7pt;
}

.teambar button {
    display: block;
    background: none repeat scroll 0% 0% #212121;
    color: #FFF;
    border: 1px solid #AAA;
    padding: 0px;
    margin: -1px 2px 0px 0px;
    height: 42px;
    float: left;
    width: 88px;
    cursor: pointer;
    white-space: pre;
    font-size: 8pt;
    font-family: Verdana,Arial,sans-serif;
    opacity: .8;
}

.utilichart .pplabelcol {
    font-size: 7pt
       width:25px;
}

.utilichart .widelabelcol {
    text-align: center;
    width: 50px;
    font-size: 7pt 
;
}

.utilichart .labelcol {
    text-align: center;
    width: 30px;
    margin-left: -2px;
    font-size: 7pt
;
}

.utilichart .statcol, .utilichart .bstcol, .utilichart .labelcol, .utilichart .widelabelcol, .utilichart .pplabelcol {
    padding-top: 0px;
    height: 28px;
    width: 24px;
    text-align: right;
    font-size: 7pt;
}

.teambar button:hover {
    color: #FFF;
    background: #212121;
    border-color: #AAA;
    opacity: 1;
}

.setdetails, .setstats, .setdetails:hover, .setstats:hover {
    display: block;
    box-sizing: border-box;
    border: 1px solid #AAA;
    border-radius: 3px;
    padding: 1px;
    margin: 2px 2px 1px 1px;
    font-size: 7pt;
    cursor: pointer;
    box-shadow: 0px 1px 2px #CCC inset, 1px 1px 0px rgba(255, 255, 255, 0.6);
    background: none repeat scroll 0% 0% #222222;
    color: #FFF;
}

.setchart input:focus, .setchart-nickname input:focus, .statform input.inputform:focus {
    outline: 0px none;
    border: 1px solid #000;
    box-shadow: 0px 1px 2px #000 inset, 0px 0px 5px #000;
    background: none repeat scroll 0% 0% #222222;
    color: #000;
}

.setchart input, .setchart-nickname input, .statform input.inputform {
    outline: 0px none;
    background: none repeat scroll 0% 0% #222222;
    color: #FFF;
}

.setchart input:hover, .setchart-nickname input:hover, .statform input.inputform:hover {
    outline: 0px none;
    background: none repeat scroll 0% 0% #2F2F2F;
    color: #000;
}

.setdetails:focus, .setstats:focus {
    border: 2px solid #464646;
    margin: 1px 1px 0px 0px;
    outline: 0px none;
}

.setchart-nickname label {
    display: block;
    font-size: 8pt;
    font-weight: bold;
    color: #555;
    padding-left: 2px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
}

.jslider .jslider-pointer:hover {
}

.jslider {
    display: block;
    width: 100%;
    height: 1em;
    position: relative;
    top: 0.6em;
    font-family: Arial,sans-serif;
}

.jslider .jslider-value {
    font-size: 9px;
    white-space: nowrap;
    line-height: 12px;
    color: #000;
}

.setchart input:focus, .setchart-nickname input:focus, .statform input.inputform:focus, .textbox:focus {
    outline: 0px none;
    border: 1px solid #000;
    box-shadow: 0px 1px 2px #000 inset, 0px 0px 5px #FFF;
    background: none repeat scroll 0% 0% #DEDEDE;
}

/*BATTLE*/

.trainer div {
    width: 86px;
    height: 90px;
    opacity: 0.7;
    margin: 0px auto;
    background: rgba();
}

.switchmenu button {
    position: relative;
    outline: medium none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    margin-top: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px -1px 2px #FFF inset;
    color: #FFF;
    border: 1px solid #AAA;
    background: -moz-linear-gradient(center top , #474747, #2B2B2B) repeat scroll 0% 0% transparent;
}

.movemenu button {
    position: relative;
    outline: medium none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    margin-top: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px -1px 2px #FFF inset;
    color: #000;
    border: 1px solid #AAA;
    background: -moz-linear-gradient(center top , #F6F6F6, #E3E3E3) repeat scroll 0% 0% transparent;
}

.switchmenu button:hover {
    position: relative;
    outline: medium none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    margin-top: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px -1px 2px #FFF inset;
    color: #FFF;
    border: 1px solid #AAA;
    background: -moz-linear-gradient(center top , #4D4D4D, #333333) repeat scroll 0% 0% transparent;
}

.moveselect button {
    color: #FF25D4;
    cursor: default;
}

.rightbar {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 450px;
    width: 100px;
    background-color: rgba(43, 43, 43, 1);
    border-left: 1px solid rgba(215, 215, 215, 0.8);
    color: #FFF;
}

.leftbar {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 450px;
    width: 100px;
    background-color: rgba(43, 43, 43,1);
    border-left: 1px solid rgba(215, 215, 215, 0.8);
    color: #FFF;
}

.ps-room.ps-room-opaque {
    background: #2B2B2B;
    color: #FFF;
}

.battle-controls .whatdo {
    font-size: 9pt;
    color: #FFF;
}

.battle-log-add {
    position: absolute;
    text-align: left;
    border: 1px solid #AAA;
    background: none repeat scroll 0% 0% #2B2B2B;
    color: #FFF;
    top: 369px;
    left: 640px;
    right: -1px;
    font-family: Verdana,sans-serif;
    font-size: 10pt;
}

.battle-log h2 {
    margin: 0.5em -8px;
    padding: 4px 8px;
    border-width: 1px 0px;
    border-style: solid none;
    border-color: #AAA -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background: none repeat scroll 0% 0% #1C1C1C;
    font-family: Verdana,sans-serif;
    font-size: 13pt;
    color: #FF25D4;
}

.battle-log .rated strong {
    color: #FFF;
    background: none repeat scroll 0% 0% #FF25D4;
    padding: 1px 4px;
    border-radius: 4px;
}

.battle-log {
    position: absolute;
    text-align: left;
    border: 1px solid #AAA;
    background: none repeat scroll 0% 0% #2B2B2B;
    color: #FFF;
    top: 9px;
    left: 640px;
    right: -1px;
    height: 360px;
    font-family: Verdana,sans-serif;
    font-size: 10pt;
    overflow-x: auto;
    overflow-y: scroll;
}

.battle-log .chat em {
    padding: 1px 4px 1px 3px;
    color: #FFF;
    font-style: italic;
}

.chat.timer {
    color: #FF003C;
}

.messagebar {
    color: #CCC;
}

.message p {
    display: none;
    margin: 0px;
    padding: 0px;
}

.battle-log .chat strong {
    color: #40576A;
}

.backdrop {
    width: 700px;
    height: 500px;
    position: absolute;
    top: -90px;
    left: -50px;
    background: url("http://i.imgur.com/ce7Hb.png") no-repeat scroll left top transparent;
    opacity: 0.6;
}

.sunweather, .sunnydayweather {
    background: url(http://i.imgur.com/Acqm3wY.png) no-repeat scroll left top;
}

.rainweather, .raindanceweather {
    background: url(http://i.imgur.com/6oeWUQ3.png) no-repeat scroll left top;
}

.hailweather {
    background: url(http://i.imgur.com/T2mCkYF.png) no-repeat scroll left top;
}

.sandstormweather {
    background: url(http://i.imgur.com/loxBPOI.png) no-repeat scroll left top;
}

.pseudoweather {
    background: url(http://i.imgur.com/diinudq.png) no-repeat scroll left top;
}

.desolatelandweather {
    background: url(http://i.imgur.com/ZERrDjt.png) no-repeat scroll left top;
}

.primordialseaweather {
    background: url(http://i.imgur.com/D6p3zZQ.png) no-repeat scroll left top;
}

.deltastreamweather {
    background: url(http://i.imgur.com/11qewQj.png) no-repeat scroll left top;
}

.Lobby-Button:hover {
    color: #FFF;
    background: #161616;
    font-size: 12pt;
    padding: 6px 8px 6px ;
    border-radius: 7px
;
}

.Lobby-Button {
    color: #FFF;
    background: #202020;
    font-size: 12pt;
    padding: 6px 8px 6px ;
    border: 3px solid #fff;
    border-radius: 7px
;
}

#intro-table {
    border-radius: 20px;
    border: 3px solid #FFF;
}

ul.userlist {
    background-image: url("http://www.netanimations.net/Animated-gif-stars-twinkling-in-night-sky.gif");
}

