/******************
 * Userlist icons *
 *****************/

#lobby-userlist-user-panpawn,#staff-userlist-user-panpawn,#development-userlist-user-panpawn {
	background:url("http://i.imgur.com/sWEmDLc.gif") no-repeat right
}
#lobby-userlist-user-barandis,#gamechamber-userlist-user-barandis,#smashbros-userlist-user-barandis {
	background:url("http://i.imgur.com/OKPo5f3.png") no-repeat right
}
#lobby-userlist-user-cyllage,#gamechamber-userlist-user-cyllage,#thehappyplace-userlist-user-cyllage {
	background:url("http://i.imgur.com/Hn7BwO0.gif") no-repeat right
}
#lobby-userlist-user-jayswift,#gamechamber-userlist-user-jayswift,#goldenrodradiotower-userlist-user-jayswift {
	background:url("http://i.imgur.com/1PABv5e.png") no-repeat right
}
#lobby-userlist-user-chaotic,#smashbros-userlist-user-chaotic,#animeandmanga-userlist-user-chaotic {
	background:url("http://i.imgur.com/HgnLCV6.png") no-repeat right
}
#lobby-userlist-user-wyzz,#staff-userlist-user-wyzz,#french-userlist-user-wyzz {
	background:url("http://i.imgur.com/TCH5YgB.png") no-repeat right
}
#lobby-userlist-user-jd,#goldenrodradiotower-userlist-user-jd,#development-userlist-user-jd,#gamechamber-userlist-user-jd,#roleplaying-userlist-user-jd,#parukia-userlist-user-jd {
	background:url("http://i.imgur.com/LRGPIWx.png") no-repeat right
}
#lobby-userlist-user-paralyzation,#goldenrodradiotower-userlist-user-paralyzation,#gamechamber-userlist-user-paralyzation {
	background:url("http://i.imgur.com/jiyeIgF.png") no-repeat right
}
#lobby-userlist-user-kittyjlp,#goldenrodradiotower-userlist-user-kittyjlp,#gamechamber-userlist-user-kittyjlp,#hogwarts-userlist-user-kittyjlp {
	background:url("http://i.imgur.com/WteLkRz.gif") no-repeat right
}
#lobby-userlist-user-yaboimlgshrek,#gamechamber-userlist-user-yaboimlgshrek,#smashbros-userlist-user-yaboimlgshrek {
	background:url("http://www.pokepedia.fr/images/6/6d/Miniat_3_r_381.gif") no-repeat right
}
#lobby-userlist-user-frage,#parukia-userlist-user-frage,#gamechamber-userlist-user-frage {
	background:url("http://i.imgur.com/LCzgJiH.png") no-repeat right
}
#lobby-userlist-user-starrywindy,#gamechamber-userlist-user-starrywindy,#silvshangout-userlist-user-starrywindy {
	background:url("http://sprites.pokecheck.org/icon/494.png") no-repeat right
}
#lobby-userlist-user-noibatofnight,#gamechamber-userlist-user-noibatofnight,#thehappyplace-userlist-user-noibatofnight {
	background:url("http://pokedream.com/pokedex/images/mini/701.png") no-repeat right
}
#lobby-userlist-user-e4mudkips,#gamechamber-userlist-user-e4mudkips,#goldenrodradiotower-userlist-user-e4mudkips {
	background:url("http://i.imgur.com/4GZA5Bh.png") no-repeat right
}
#lobby-userlist-user-ihizi,#roleplaying-userlist-user-ihizi,#development-userlist-user-ihizi {
	background:url("http://i.imgur.com/HV1oDbP.gif") no-repeat right
}
#lobby-userlist-user-yungzeno,#gamechamber-userlist-user-yungzeno,#parukia-userlist-user-yungzeno {
	background:url("http://i.imgur.com/epfF0iL.jpg") no-repeat right
}
#lobby-userlist-user-axews,#staff-userlist-user-axews,#development-userlist-user-axews {
	background:url("http://pldh.net/media/pokemon/conquest/icon/610.png") no-repeat right
}
#lobby-userlist-user-unisis,#roleplaying-userlist-user-unisis,#parukia-userlist-user-unisis {
	background:url("http://media.pldh.net/pokecons_action/150.gif") no-repeat right
}
#lobby-userlist-user-dylas,#gamechamber-userlist-user-dylas,#scavengers-userlist-user-dylas {
	background:url("http://i.imgur.com/ax6FLfy.gif") no-repeat right
}
#lobby-userlist-user-shikuthezorua,#silvshangout-userlist-user-shikuthezorua,#roleplaying-userlist-user-shikuthezorua {
	background:url("http://www.poke-amph.com/black-2-white-2/sprites/small/570.png") no-repeat right
}
#lobby-userlist-user-eimp,#parukia-userlist-user-eimp,#gamechamber-userlist-user-eimp {
	background:url("http://i.imgur.com/0ZKnDld.png") no-repeat right
}
#lobby-userlist-user-valeriez,#gamechamber-userlist-user-valeriez,#supermariomaker-userlist-user-valeriez {
	background:url("http://38.media.tumblr.com/391e1a987eeeb8b5c9752d0eddd18481/tumblr_inline_mqrxr8Aj9m1qz4rgp.gif") no-repeat right
}
#lobby-userlist-user-corsolascage, #parukia-userlist-user-corsolascage, #gamechamber-userlist-user-corsolascage {
    background:url("http://media.pldh.net/pokexycons/015-mega.png") no-repeat right
}
#lobby-userlist-user-deusexiroze, #gamechamber-userlist-user-deusexiroze, #thehappyplace-userlist-user-deusexiroze {
    background:url("http://i.imgur.com/X35CLBI.gif") no-repeat right
}
#lobby-userlist-user-siiilver, #gamechamber-userlist-user-siiilver, #silvshangout-userlist-user-siiilver {
    background:url("http://i.imgur.com/CfRQNTj.png") no-repeat right
}
#lobby-userlist-user-kupo, #gamechamber-userlist-user-kupo, #staff-userlist-user-kupo {
    background:url("http://i.imgur.com/BAU7VBi.png") no-repeat right
}
/*************************************
 * CONSTANT CSS (DO NOT COMMENT OUT) *
 *************************************/

.backdrop {
	background-image:url("http://goldservers.info/about/backdrop.png") !important
}
.nightclub {
	background:#000;
	margin:-3px
}
.infobox {
	border:1px solid #000;
	padding:2px 4px;
	background-color:#fff
}
.astext {
	border:none;
	background:none;
	padding:0;
	font-family:Verdana,sans-serif;
	font-size:12px
}
.blackbutton {
	padding:5px;
	background-color:#000;
	border:1px solid #666;
	color:#000;
	text-decoration:none
}
.broadcast-purple {
	background-color:#8904B1;
	color:#fff;
	padding:2px 4px
}
.broadcast-black {
	padding:2px 4px
}
.broadcast-gold {
	background-color:#FC0;
	color:#000;
	padding:2px 4px
}
.broadcast-gold a {
	color:#000
}
.userbar {
	border:1px solid #000;
	padding:5px;
	background:#fff;
	margin-top:-5px
}
.userlist li button:hover {
	background:rgba(255,235,153,0.4)
}
.userlist li em.group {
	font-style:normal;
	font-size:8pt;
	color:#000;
	display:block;
	float:left;
	text-align:center;
	padding:1px 0 0 1px;
	width:14px
}
.header .logo {
	display:none!important
}

.chat small {
	font-weight:400;
	font-size:8pt;
	color:#000
}

.userlist li button {
	display:block;
	height:auto;
	background:transparent;
	border:0;
	padding:0;
	margin:0;
	width:100%;
	white-space:nowrap;
	font:10pt Verdana,sans-serif;
	text-align:left
}



/*********************
 * Regular CSS Style *
 ********************/

/*
body {
	background:url("http://goldservers.info/about/serverbg.jpg") !important;
}
.header {
	background:url("http://i.imgur.com/YpYNln8.png") no-repeat;
	background-color:#DA9D01
}
.userlist,.userlist li {
	display:block;
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:left
}
.message-announce {
	background:#FC0;
	color:#000;
	padding:1px 4px 2px
}
.userlist li {
	border-bottom:1px solid #a066aa;
	height:19px;
	font:10pt Verdana,sans-serif;
	white-space:nowrap
}
*/


/**********************************
 * Holiday (really Christmas) CSS *
 *********************************/ 
/*
.header {
	background:url("http://i.imgur.com/YpYNln8.png") no-repeat;
	background-color:#32CD32;
}
body {
	background:url("http://img10.deviantart.net/7dc9/i/2014/327/e/b/day_7___christmas_cyndaquil_by_xyrten-d87fqjb.jpg") !important;
}
.chat-log{
	background: url("http://i.imgur.com/TXI7WGS.png") right top no-repeat;
}
.header .logo {
	display:none!important
}
.chat-log-add, .battle-log-add {
    background: url("http://i.imgur.com/g83vifF.png");
}
.menugroup {
  background: url("http://i.imgur.com/vEduIJq.png");
}
.menugroup .menugroup{
	text-align: center;
}
.userlist{
	border-left:1px solid #D5DDE4;
	background: #86f586;
}
.message-announce {
	background:#47cb39;
	outline: 1px solid red;
}
.pm-window h3 small  {
   color: #5e5e5e;
}
.tabbar a.button {
    background: url("http://i.imgur.com/ajzvYbV.png");
	color: black;
}
.tabbar a.button:hover {
	background: url("http://i.imgur.com/WSrAVxz.png");
	color: black;
}
.tabbar a.button.cur, .tabbar a.button.cur:hover {
	background: url("http://i.imgur.com/g83vifF.png");
	color: black;
}
.tabbar a.button.notifying, .tabbar a.button.notifying:hover {
	background: url("http://i.imgur.com/CtoyG6B.png");
}
.maintabbarbottom {
	background: url("http://i.imgur.com/eTEXz5K.png");
}
.closebutton:hover {
	color: black;
}
.pm-window h3 {
    background: url("http://i.imgur.com/g83vifF.png");
}
.pm-window.focused h3, .pm-window.focused h3:hover {
    background: url("http://i.imgur.com/ajzvYbV.png");
}
.pm-log-add {
	background: url("http://i.imgur.com/g83vifF.png");
}
.pad, .ps-popup, .pm-log, .ps-room.ps-room-opaque {
    background: url("http://i.imgur.com/Q8vHT0Y.png");
    overflow: auto;
}
.challenge {
	background: url("http://i.imgur.com/CtoyG6B.png");
	color: black;
}
*/


/***************** 
 * Halloween CSS *
 ****************/
.header {
	background:url("http://i.imgur.com/YpYNln8.png") no-repeat;
	background-color:#551a8b;
}
body {
	background:url("http://i.imgur.com/J4ALaW9.png") !important;
}
.mainmenuwrapper {
	background: url("http://i.imgur.com/iHubd1y.png") right bottom no-repeat;
}
.chat-log{
	background: url("http://i.imgur.com/vcIHH5Y.png") right top no-repeat;
}
.chat-log-add, .pm-log-add, .pm-window h3 {
	background:#fbb88e;
}
.pm-log{
	background: url(http://i.imgur.com/Q8vHT0Y.png);
    border-width: 0;
}
.pm-window.focused h3, .pm-window.focused h3:hover {
	background:#fbb88e;
}
.menugroup .button{
	background:#5a11ff;
}
.menugroup .menugroup{
	text-align:center;
}
.menugroup .button:hover {
	background:#2d00f0;
}
.userlist{
	border-left:0px;
	background:#fbb88e;
}
.userlist li {
	border-bottom: 1px solid #7a7877;
}
.message-announce {
	background:#000000;
}



/********************
 * Thanksgiving CSS *
 *******************/
/*
.header {
	background:url("http://i.imgur.com/YpYNln8.png") no-repeat;
	background-color:#663300;
}
body {
	background:url("http://i.imgur.com/J4ALaW9.png")!important
}
.chat-log{
	background: url("http://i.imgur.com/PrJl4qq.png") right top no-repeat;
}
.mainmenuwrapper {
	background:url("http://fc01.deviantart.net/fs70/f/2010/327/e/8/happy_thanksgiving_by_keijimatsu-d33hjzy.png") !important;
}
.menugroup {
	background:url("https://img0.etsystatic.com/034/0/5573864/il_340x270.614801018_732b.jpg");
	color:black
}
.chat-log-add,.pm-log-add,.pm-window h3 {
	background:#CC9900
}
.pm-log {
	background:url("http://i.imgur.com/Q8vHT0Y.png");
	border-width:0
}
.pm-window.focused h3,.pm-window.focused h3:hover {
	background:#fbb88e
}
.userlist{
	border-left:1px solid #785936;
	background:#FF9900 
}
.message-announce {
	background:#CC6600
}
*/


/*************************
 * St. Patrick's Day CSS *
 ************************/
/*
.header {
	background:url("http://i.imgur.com/YpYNln8.png") no-repeat;
	background-color:#50C878 ;
}
body {
	background:url("http://i.imgur.com/J4ALaW9.png")!important
}
.mainmenuwrapper {
	background:url("http://i233.photobucket.com/albums/ee319/DeiIchi/Shayminclovers.png") !important;
}
.chat-log{
	background: url("http://i.imgur.com/wfpYACM.png") right top no-repeat;
}
.menugroup {
	background:url("http://s3.amazonaws.com/files.creativemarket.com/images/screenshots/products/37/370/370549/1502.m00.i101.n030.f.c06.123755752-shamrock-seamless-background-for-st-patrick-day-f.jpg");
	color:black
}
.chat-log-add,.pm-log-add,.pm-window h3 {
	background:#009E60;
}
.pm-log {
	background:url("http://i.imgur.com/Q8vHT0Y.png");
	border-width:0
}
.pm-window.focused h3,.pm-window.focused h3:hover {
	background:#009B48 
}
.userlist{
	border-left:1px solid #785936;
	background:#DA9D01 
}
.message-announce {
	background:#CC6600
}
*/