/* Userlist icons */
#lobby-userlist-user-panpawn,#staff-userlist-user-panpawn,#development-userlist-user-panpawn {
	background: url("http://i.imgur.com/sWEmDLc.gif") no-repeat right
}
#lobby-userlist-user-barandis,#gamechamber-userlist-user-barandis,#smashbros-userlist-user-barandis {
	background: url("http://i.imgur.com/OKPo5f3.png") no-repeat right
}
#lobby-userlist-user-cyllage,#gamechamber-userlist-user-cyllage,#thehappyplace-userlist-user-cyllage {
	background: url("http://i.imgur.com/OAQaQfY.png") no-repeat right
}
#lobby-userlist-user-jayswift,#gamechamber-userlist-user-jayswift,#goldenrodradiotower-userlist-user-jayswift {
	background: url("http://i.imgur.com/1PABv5e.png") no-repeat right
}
#lobby-userlist-user-chaotic,#smashbros-userlist-user-chaotic,#gamechamber-userlist-user-chaotic {
	background:url("http://i.imgur.com/HgnLCV6.png") no-repeat right
}
#lobby-userlist-user-wyzz,#staff-userlist-user-wyzz,#french-userlist-user-wyzz {
	background:url("http://i.imgur.com/TCH5YgB.png") no-repeat right
}
#lobby-userlist-user-jd,#goldenrodradiotower-userlist-user-jd,#development-userlist-user-jd,#gamechamber-userlist-user-jd,#roleplaying-userlist-user-jd,#parukia-userlist-user-jd {
	background:url("http://i.imgur.com/LRGPIWx.png") no-repeat right
}
#lobby-userlist-user-paralyzation,#goldenrodradiotower-userlist-user-paralyzation,#gamechamber-userlist-user-paralyzation {
	background:url("http://i.imgur.com/jiyeIgF.png") no-repeat right
}
#lobby-userlist-user-kittyjlp,#goldenrodradiotower-userlist-user-kittyjlp,#gamechamber-userlist-user-kittyjlp,#hogwarts-userlist-user-kittyjlp {
	background:url("http://i.imgur.com/WteLkRz.gif") no-repeat right
}
#lobby-userlist-user-yaboimlgshrek,#gamechamber-userlist-user-yaboimlgshrek,#smashbros-userlist-user-yaboimlgshrek {
	background:url("http://www.pokepedia.fr/images/6/6d/Miniat_3_r_381.gif") no-repeat right
}
#lobby-userlist-user-frage,#parukia-userlist-user-frage,#gamechamber-userlist-user-frage {
	background:url("http://i.imgur.com/LCzgJiH.png") no-repeat right
}
#lobby-userlist-user-starrywindy,#gamechamber-userlist-user-starrywindy,#silvshangout-userlist-user-starrywindy {
	background:url("http://sprites.pokecheck.org/icon/494.png") no-repeat right
}
#lobby-userlist-user-noibatofnight,#gamechamber-userlist-user-noibatofnight,#thehappyplace-userlist-user-noibatofnight {
	background:url("http://pokedream.com/pokedex/images/mini/701.png") no-repeat right
}
#lobby-userlist-user-e4mudkips,#gamechamber-userlist-user-e4mudkips,#goldenrodradiotower-userlist-user-e4mudkips {
	background:url("http://i.imgur.com/4GZA5Bh.png") no-repeat right
}
#lobby-userlist-user-ihizi,#roleplaying-userlist-user-ihizi,#development-userlist-user-ihizi {
	background:url("http://i.imgur.com/HV1oDbP.gif") no-repeat right
}
#lobby-userlist-user-yungzeno,#gamechamber-userlist-user-yungzeno,#parukia-userlist-user-yungzeno {
	background:url("http://i.imgur.com/epfF0iL.jpg") no-repeat right
}
#lobby-userlist-user-axews,#staff-userlist-user-axews,#development-userlist-user-axews {
	background:url("http://pldh.net/media/pokemon/conquest/icon/610.png") no-repeat right
}
#lobby-userlist-user-unisis,#roleplaying-userlist-user-unisis,#parukia-userlist-user-unisis {
	background:url("http://media.pldh.net/pokecons_action/150.gif") no-repeat right
}
#lobby-userlist-user-dylas,#gamechamber-userlist-user-dylas,#scavengers-userlist-user-dylas {
	background:url("http://i.imgur.com/ax6FLfy.gif") no-repeat right
}
#lobby-userlist-user-shikuthezorua,#silvshangout-userlist-user-shikuthezorua,#roleplaying-userlist-user-shikuthezorua {
	background:url("http://www.poke-amph.com/black-2-white-2/sprites/small/570.png") no-repeat right
}
#lobby-userlist-user-eimp,#parukia-userlist-user-eimp,#gamechamber-userlist-user-eimp {
	background:url("http://i.imgur.com/0ZKnDld.png") no-repeat right
}
#lobby-userlist-user-slappingpichu,#gamechamber-userlist-user-slappingpichu,#roleplaying-userlist-user-slappingpichu {
	background:url("http://38.media.tumblr.com/391e1a987eeeb8b5c9752d0eddd18481/tumblr_inline_mqrxr8Aj9m1qz4rgp.gif") no-repeat right
}
#lobby-userlist-user-corsolascage, #parukia-userlist-user-corsolascage, #gamechamber-userlist-user-corsolascage {
    background:#FFEB99 url("http://media.pldh.net/pokexycons/015-mega.png") no-repeat right
}
/* CSS Style */
body {
	background:url("http://goldservers.info/about/serverbg.jpg") !important;
}
.backdrop {
	background-image:url("http://goldservers.info/about/backdrop.png") !important
}
.nightclub {
	background:#000;
	margin:-3px
}
.infobox {
	border:1px solid #000;
	padding:2px 4px;
	background-color:#fff
}
.header {
	background:url("http://i.imgur.com/YpYNln8.png;") no-repeat;
	background-color:#DA9D01
}
.astext {
	border:none;
	background:none;
	padding:0;
	font-family:Verdana,sans-serif;
	font-size:12px
}
.header .logo {
	display:none!important
}
.chat small {
	font-weight:400;
	font-size:8pt;
	color:#000
}
.blackbutton {
	padding:5px;
	background-color:#000;
	border:1px solid #666;
	color:#000;
	text-decoration:none
}
.userlist,.userlist li {
	display:block;
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:left
}
.message-announce {
	background:#FC0;
	color:#000;
	padding:1px 4px 2px
}
.broadcast-purple {
	background-color:#8904B1;
	color:#fff;
	padding:2px 4px
}
.broadcast-black {
	padding:2px 4px
}
.broadcast-gold {
	background-color:#FC0;
	color:#000;
	padding:2px 4px
}
.broadcast-gold a {
	color:#000
}
.userlist li {
	border-bottom:1px solid #a066aa;
	height:19px;
	font:10pt Verdana,sans-serif;
	white-space:nowrap
}
.userlist li em.group {
	font-style:normal;
	font-size:8pt;
	color:#000;
	display:block;
	float:left;
	text-align:center;
	padding:1px 0 0 1px;
	width:14px
}
.userlist li button {
	display:block;
	height:auto;
	background:transparent;
	border:0;
	padding:0;
	margin:0;
	width:100%;
	white-space:nowrap;
	font:10pt Verdana,sans-serif;
	text-align:left
}
.userbar {
	border:1px solid #000;
	padding:5px;
	background:#fff;
	margin-top:-5px
}
.userlist li button:hover {
	background:rgba(255,235,153,0.4)
}
